<div fxLayoutGap="16px" fxLayout.gt-sm="row" fxLayout="column" class="first-container">
    <div fxFlex.gt-sm="25%" fxFlex="100%" fxLayout="row" fxLayoutGap="5px" class="card">
        <div class="circle c-one">
              <mat-icon class="icon">accessibility</mat-icon>
        </div>
        <div>
            <h3>23332</h3>
            <div class="info">Price</div>
        </div> 
    </div>
    <div fxFlex="25%" fxLayoutGap="5px" fxLayout="row" class="card">
        <div class="circle c-two">
            <mat-icon class="icon">card_travel</mat-icon>
      </div>
      <div>
          <h3>$546354</h3>
          <div class="info">Income</div>
      </div> 
    </div>
    <div fxFlex="25%" fxLayout="row" fxLayoutGap="5px" class="card">
        <div class="circle c-three">
            <mat-icon class="icon">dashboard</mat-icon>
      </div>
      <div>
          <h3>20 March</h3>
          <div class="info">Calender</div>
      </div> 
    </div>
    <div  fxFlex="25%" fxLayoutGap="5px" fxLayout="row" class="card">
        <div class="circle c-four">
            <mat-icon class="icon">dns</mat-icon>
      </div>
      <div>
          <h3>Whatever</h3>
          <div class="info">abcd</div>
      </div> 
    </div>
</div>

<div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column" class="second-container">
         <div fxLayout="column"  fxFlex="40%" class="left-section card">
             <div>
                <h4>Today's Schedule</h4>
                <div class="info">check out your daily Schedule</div>  
             </div>
             <div class="item" fxLayoutGap="5px" fxLayout="row">
                 <div class="circle c-one">
                    <mat-icon class="icon">account_circle</mat-icon>
                 </div>
                 <div>
                    <h4>Meeting Today <small>5pm</small></h4>
                    <div class="info">Lorem ipsum voluptates .</div>
                 </div>
             </div>
             <div class="item" fxLayoutGap="5px" fxLayout="row">
                <div class="circle c-two">
                   <mat-icon class="icon">group_work</mat-icon>
                </div> 
                <div>
                   <h4>Send documents to clark</h4>
                   <div class="info">dolor sit amet consectetur adipisicing elit.  </div>
                </div>
            </div>
            <div class="item" fxLayoutGap="5px" fxLayout="row">
                <div class="circle c-three">
                   <mat-icon class="icon">face</mat-icon>
                </div>
                <div>
                   <h4>John Doe <small>5pm</small></h4>
                   <div class="info">laboriosam excepturi non perspiciatis</div>
                </div>
            </div>
            <div class="item" fxLayoutGap="5px" fxLayout="row">
                <div class="circle c-four">
                   <mat-icon class="icon">invert_colors</mat-icon>
                </div>
                <div>
                   <h4>accusamus, illo repellendus <small>5 minutes ago</small></h4>
                   <div class="info">Nam minima laudantium provident illum quisquam</div>
                   <div fxLayout="row" fxLayoutGap="5px" >
                       <div class="approve">Approve</div>
                       <div class="refuse">Refuse</div>
                   </div>
                </div>
            </div>
         </div>
         <div fxFlex="60%" fxLayout="column" fxLayoutGap="16px" class="right-section">
               <div class="card" fxLayout="row" fxLayoutAlign="space-between">
                     <div>
                        <div>Sales Overview</div>
                        <div class="info">Check the monthly sales</div>
                     </div>
                     <select id="cars" name="cars">
                        <option value="volvo">January</option>
                        <option value="saab">Saab</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                      </select>
               </div>
               <div class="mid-section" fxLayout="row" fxLayoutAlign="space-between">
                   <div>
                        <h3>March 2017</h3>
                        <div> Report for this month</div>
                   </div>
                   <div class="price">
                       $3690
                   </div>
                   
               </div>
               <div class="card">
                <table class="">
                    <tr>
                      <th>#</th> 
                      <th>Name</th>
                      <th>Status</th>
                      <th>Date</th> 
                      <th>Price</th>   
                    </tr>
                    <tr class="table-row">
                      <td>1</td>
                      <td>John fek</td>
                      <td>Sale</td>    
                      <td>123-45-678</td>
                      <td>$345</td>
                    </tr>
                    <tr class="table-row">
                        <td>2</td>
                        <td>jack Doe</td>
                        <td>Extend</td>    
                        <td>123-45-678</td>
                        <td>$2343</td>
                      </tr>
                      <tr class="table-row">
                         <td>3</td>
                        <td>Lack kex</td>
                        <td>Tax</td>    
                        <td>123-45-678</td>
                        <td>$56</td>
                      </tr>
                  </table>
               </div>
         </div>
</div>

<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px" class="third-section">
    <div fxFlex="60%" class="t-left card">
        <div fxLayout="row" fxLayoutAlign="space-between">
           <h4>Projects of the Month</h4>
            <select id="cars" name="cars">
               <option value="volvo">January</option>
               <option value="saab">Saab</option>
               <option value="fiat">Fiat</option>
               <option value="audi">Audi</option>
             </select>
       </div>
        <table  class="">
            <tr>
              <th>#</th> 
              <th>Name</th>
              <th>Status</th>
              <th>Date</th> 
              <th>Price</th>   
            </tr>
            <tr class="table-row">
              <td>1</td>
              <td>John fek</td>
              <td> <div>Sale</div> </td>    
              <td>123-45-678</td>
              <td>$345</td>
            </tr>
            <tr class="table-row">
                <td>2</td>
                <td>jack Doe</td>
                <td><div>Extend</div></td>    
                <td>123-45-678</td>
                <td>$2343</td>
              </tr>
              <tr class="table-row">
                 <td>3</td>
                <td>Lack kex</td>
                <td> <div>Tax</div> </td>    
                <td>123-45-678</td>
                <td>$56</td>
              </tr>
          </table>
    </div>
    <div fxFlex="40%" class="t-right card">
             <img src="https://scontent.fdac3-1.fna.fbcdn.net/v/t1.0-9/120194424_10158878068411974_8993335781937598887_n.jpg?_nc_cat=108&_nc_sid=da1649&_nc_eui2=AeFI8-tbPc6kjvRL42N6WHUFJeFccbfy27sl4Vxxt_Lbu3AJ47FZPc1zxClDK5Yo3tBsOTVnwQMQfZNy76sBtt-l&_nc_ohc=b5ccqGIuwy0AX_BxXd5&_nc_ht=scontent.fdac3-1.fna&oh=df45d39be251f031d737778a58762f0e&oe=5F924524" alt="">
             <h4>Business development of rules</h4>
             <div class="tech">Technology</div>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente in, voluptatem qui perferendis quisquam voluptate velit accusantium non dicta accusamus impedit voluptatibus fugit debitis! Hic, animi blanditiis? Alias, voluptatibus corrupti.</p>
             <div fxLayout="row" fxLayoutAlign="space-between">
                 <div>Read More</div>
                 <mat-icon class="icon">share</mat-icon>
             </div> 
            </div>
</div>