.inputs{
    position: absolute;
    left: 20%;
    margin: 0 auto;
    padding: 50px;
    mat-form-field{
       padding-right: 10px;
    }
}
.back{
    margin: 10px;
}
.errorField{
    color: red;
    font-size: small;
}
.errorsDiv{
    display: flex;
    justify-content: space-between;
}
